<!doctype html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/custom.css">
</head>

<body>

	{{ template "heading" . }}

	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				<div class="card border-primary mb-3">
					<div class="card-body ">
						<div class="form-group">
							Short URL
							<pre>{{ .shortURL }}</pre>
						</div>
						<div class="form-group">
							Long URL
							<pre>{{ .longURL }}</pre>
						</div>
						{{ if .passwordProtect }}
						<div class="form-group" id="password-containter-1">
							<label for="urlPassword">Password</label>
							<input name="password" type="password" id="urlPassword" class="form-control" value="{{ .password }}">
						</div>
						<div class="form-group form-check" id="password-containter-2">
							<input class="form-check-input" name="showPassword" type="checkbox" id="hidePassword">
							<label class="form-check-label" for="hidePassword">Show Password</label>
						</div>
						{{end}}
						{{ if .error }}
						<div class=".text-danger">
							{{.error}}
						</div>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="static/kjua.min.js"></script>
	<script src="static/clipboard.min.js"></script> -->
	{{ template "showHidePassword" . }}
	<script>
		function init() {
			var shortURL = "{{ .shortURL }}"
			window.history.pushState(null, 'Created', `/i/${shortURL}`);
		}
		window.addEventListener('load', init);
	</script>
</body>

</html>
