<!doctype html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/custom.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-12 text-center my-3">
				<h2>Otter</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				<div class="card border-primary mb-3">
					<div class="card-body ">
						<form action="short{{if .url_next }}?url_next={{.url_next}}{{end}}" method="post">
							<input type="hidden" name="_csrf_token" value="{{ .csrf_token }}">
							<div class="form-group">
								<label for="inputURL">Link</label>
								<input name="url" type="url" id="inputURL" class="form-control" required>
								<small id="urlHELP" class="form-text text-muted">URLs should be include http</small>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="passwordProtect" name="passwordProtect"
									onclick="markRequired()">
								<label class="form-check-label" for="passwordProtect">Password Protect ?</label>
							</div>
							<div class="form-group" id="password-containter-1" style="display: none">
								<label for="urlPassword">Password</label>
								<input name="password" type="password" id="urlPassword" class="form-control">
							</div>
							<div class="form-group form-check" id="password-containter-2" style="display: none">
								<input class="form-check-input" name="showPassword" type="checkbox" id="hidePassword">
								<label class="form-check-label" for="hidePassword">Show Password</label>
							</div>
							<div class="form-group text-center">
								<input type=submit value="Shorten" class="btn btn-primary btn-block">
							</div>
							{{ if .error }}
							<div class=".text-danger">
								{{.error}}
							</div>
							{{end}}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function markRequired() {
			let div1 = document.getElementById("password-containter-1");
			let div2 = document.getElementById("password-containter-2");
			let checkBox = document.getElementById("passwordProtect");
			let input = document.getElementById("urlPassword");
			if (checkBox.checked) {
				div1.style.display = "block";
				div2.style.display = "block";
				input.required = true;
			} else {
				div1.style.display = "none";
				div2.style.display = "none";
				input.required = false;
			}
		}
	</script>
</body>

</html>