<!doctype html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="static/custom.css">
	</head>
	<body>
		
		<nav>
			<h3>
				Name
			</h3>
			<div id="nav-links">
				<a href="/login">Login<a/>
				<a href="/register">Signup<a/>
			</div>
		</nav>
		<br>
		<form action="register" method ="post">
			<p>
				<input name="email" type="email" required>
			</p>
			<p>
				<input name="password" type="password" required>
			</p>
			<p>
				{{ if . }}
					{{.}}
				{{end}}
			</p>
			<input type=submit>
		</form>
	</body>
</html>